<% @comments.each do |c| %>
    <% if c.post_id == @post.id %>
        <div class="row comment-container">
            <div class="large-12 columns">
                <% if current_user.has_comment_voted?(c) %>
                    <div class="large-1 columns">
                        <% if current_user.votes.where("comment_id =?", c.id).first.direction == "up" %>
<!-- ORANGE UPVOTE ARROW -->
                            <%= link_to "", vote_post_comment_path(:comment_id => c.id, :direction => "up",  :format => :js ), :class => "foundicon-up-arrow orange", :id => "up-comment-arrow-#{c.id}",  :remote => true %> 
                        <% else %>
<!-- UPVOTE ARROW -->
                            <%= link_to "", vote_post_comment_path(:comment_id => c.id, :direction => "up", :format => :js), :class => "foundicon-up-arrow", :id => "up-comment-arrow-#{c.id}", :remote => true %>
                        <% end %>
                        <% if current_user.votes.where("comment_id =?", c.id).first.direction == "down" %>
<!-- BLUE DOWNVOTE ARROW -->
                            <%= link_to "", vote_post_comment_path(:comment_id => c.id, :direction => "down",  :format => :js ), :class => "foundicon-down-arrow blue", :id => "down-comment-arrow-#{c.id}",  :remote => true %> 
                        <% else %>
<!-- DOWNVOTE ARROW -->
                            <%= link_to "", vote_post_comment_path(:comment_id => c.id, :direction => "down",  :format => :js ), :class => "foundicon-down-arrow" , :id => "down-comment-arrow-#{c.id}", :remote => true %> 
                        <% end %>
                    </div>
                <% else %>
                    <div class="large-1 columns">
<!-- UPVOTE ARROW -->
                        <%= link_to "", vote_post_comment_path(:comment_id => c.id, :direction => "up", :format => :js), :class => "foundicon-up-arrow", :id => "up-comment-arrow-#{c.id}", :remote => true %> 
<!-- DOWNVOTE ARROW -->
                        <%= link_to "", vote_post_comment_path(:comment_id => c.id, :direction => "down",  :format => :js ), :class => "foundicon-down-arrow" , :id => "down-comment-arrow-#{c.id}", :remote => true %> 
                    </div>
                <% end %>
                <div class="large-8 columns blueUser">
                    <%= link_to "#{User.find_by_id(c.user_id).username}-", user_path(User.find(c.user_id).username), :class => "blueUser"%>
                    <small class="karmaUser" id="comment-karma-<%="#{c.id}"%>"><%="#{c.karma}"%></small><small class="karmaUser"><%=" points #{time_ago_in_words(c.created_at)} ago" %></small>
                </div>
                <br></br>
                <div class="large-12 columns">
                    <p class="comment-content"><%="#{c.content}"%></p>
                </div>
                <div class="large-12 columns links-comments">
                    <%= link_to "permalink", show_user_comment_path(:subname => Post.find_by_id(c.post_id).subname , :post_id => Post.find_by_id(c.post_id), :id => c.id) %>
                    &nbsp
                    <%= link_to "reply", reply_to_comment_path(:post_id => Post.find_by_id(c.post_id), :comment_id => c.id, :format => :js), :remote => true, :id => "reply-#{c.id}" %>
                    <%= render 'replies/reply_list' %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>

