<div class="row">
  <div class="small-7 medium-8 large-8 columns">
    <div class="field">
    <%= form_for(@comment) do |c| %>
      <%= c.text_area :content, :placeholder => "Submit a comment...", :size => "30x4" %>
      <%= c.hidden_field :post_id, :value => @post.id %>
      <%= c.hidden_field :subreddit_id, :value => @sub.id %>
      <div class="small-8 medium-5 large-4 columns">
      <%= c.submit "submit", :class => "button" %>
      </div>
  </div>
    </div>
  <% end %>
</div>
