<div class="container">
  <div class="col-md-8">
    <div class="field">
    <%= form_for(@comment) do |c| %>
      <%= c.text_area :content, :placeholder => "Submit a comment...", :size => "30x4" %>
      <%= c.hidden_field :post_id, :value => @post.id %>
      <%= c.hidden_field :subreddit_id, :value => @sub.id %>
      <div class="col-md-2">
      <%= c.submit "submit", :class => "btn btn-small btn-primary" %>
      </div>
  </div>
    </div>
  <% end %>
</div>
