<% if @user.nil? %>
    <%= render 'shared/user_not_found' %>
<% else %>
    <div class="col-md-10">
	<h2 class="col-md-2">Overview for <%= @user.username%><hr></hr></h2>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <%= render 'shared/user_comments' %>
    <br></br>
    <%= render 'shared/user_posts' %>
    </div>
<%= render 'shared/user_sidebar'%>
<% end %>
