
<div class="col-md-10">
<h2 class="col-md-3">Subscription's content</h2>
<br></br>
<br></br>
<% @posts.each do |p|%>
<% if current_user.has_subbed?(Subreddit.find_by_subname(p.subname)) %>
<hr></hr>
    <div id=<%=p.id%> align="left">
    <ol>
    <div class="col-md-1">
    <h4><%="#{p.karma}"%></h4>
    </div>
    <% if !p.url.nil? && p.description.nil?%>

        <h4><%= link_to "#{p.title}", "#{p.url}", :class => "link-title" %></h4>
        <small>submitted <%= time_ago_in_words(p.created_at)%> ago by <%= link_to "#{User.find(p.user_id).username}", user_path(User.find(p.user_id).username)%> to <%= link_to "#{p.subname}", subreddits_path + "/#{p.subname}"%> |</small>
        <small><%= link_to "#{Comment.where(:post_id => p.id).count} comments ", subreddit_post_path(p.subname, p.id)%> | <%= link_to " share", '#' %></small>
        <br></br>
        </ol>
    <% else %>

        <h4><%= link_to "#{p.title}", subreddit_post_path(p.subname, p.id), :class => "post-title" %></h4>
        <small>submitted <%= time_ago_in_words(p.created_at)%> ago by <%= link_to "#{User.find(p.user_id).username}", user_path(User.find(p.user_id).username)%> to <%= link_to "#{p.subname}", subreddits_path + "/#{p.subname}"%> | </small>
        <small><%= link_to "#{Comment.where(:post_id => p.id).count} comments ", subreddit_post_path(p.subname, p.id)%> | <%= link_to " share", '#' %></small>
        <br></br>
        </ol>
    <% end %>
    </div>
<hr></hr>
<% end %>
<% end %>
</div>
