<% Comment.where("user_id = ?", @user.id).each do |c|%>
    <div class="col-md-8 comments">
    <hr></hr>
    <div class="col-md-1 blueUser">
      <%= link_to "#{User.find_by_id(c.user_id).username}-", user_path(User.find(c.user_id).username), :class => "blueUser"%>
    </div>
    <div class="col-md-4">
        &nbsp
        &nbsp
        <small class="karmaUser"><%=" #{c.karma}"%></small><small class="karmaUser"><%=" points #{time_ago_in_words(c.created_at)} ago" %></small>
    </div>
        <br></br>
        <div class="col-md-1 col-md-12">
        <p class="comment-content"><%="#{c.content}"%></p>
        </div>
        <div class="col-md-1 col-md-12">
        <%= link_to "permalink", show_user_comment_path(:subname => Post.find_by_id(c.post_id).subname, :post_id => Post.find_by_id(c.post_id).id, :id => c.id) %>
        &nbsp
        <%= link_to "comments", subreddit_post_path(:subreddit_id => Post.find_by_id(c.post_id).subname, :id => Post.find_by_id(c.post_id).id) %>
        </div>
    <br></br><hr></hr>
    </div>
    <% end %>

