<div class="container">
  <div class="col-md-4">
<%= form_for(@post, :url => posts_path, :method => :post) do |p| %>

<%= provide('title', "Submit a link post!") %>
<h4 align="center">Submit a text post!</h4>
<%= render 'shared/error_messages', :object => p.object %>
<%= p.hidden_field :user_id, :value => current_user.id %>
<%= p.hidden_field :is_link, :value => false %>
<%= p.label :title %>
<%= p.text_field :title %>
<%= p.label :text%>&nbsp<small>(optional)</small>
<%= p.text_area :description, :size => "40x10" %>
<%= p.label :choose_a_subname %>
<%= p.text_field :subname %>

<%= p.submit "Submit", :class => "btn btn-small btn-primary"%>
<% end %>
</div>
</div>
