<div class="container">
  <div class="col-md-4">
  
<%= form_for(@post) do |p| %>

<%= provide('title', "Submit a link post!") %>
<%= render 'shared/error_messages', :object => p.object %>
<%= p.hidden_field :user_id, :value => current_user.id %>
<%= p.label :title %>
<%= p.text_field :title %>
<%= p.label :url %>
<%= p.text_field :url %>
<%= p.label :subreddit_id %>
<%= p.text_field :subreddit_id %>

<%= p.submit "Submit", :class => "btn btn-small btn-primary"%>
<% end %>
</div>
</div>
