<br/>
<div class="large-8 columns">
<% @subreddits.each do |s| %>
<div class="row panel">

    <h3><%= link_to "#{s.subname}: #{s.title}", subreddits_path + "/#{s.subname}"%> <small class="green"><%= "#{s.user_count}"%> users subscribed</small></h3>
    <h4 class="list-group-item-heading"><%= s.description %></h4>
    <%= will_paginate @subreddits %>
</div>
<% end %>
</div>
<%= render 'shared/sidebar' %>
