<div class="row large-4 columns">
 <br/> 
<%= form_for(@subreddit) do |f| %>

<%= provide('title', "Create your new subreddit") %>
<%= render 'shared/error_messages', :object => f.object %>
<%= f.label :subname %>
<%= f.text_field :subname %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :description %>
<%= f.text_area :description, :size => "30x10"%>
<%= f.submit "Create", :class => "btn btn-small btn-primary"%>
<% end %>
</div>
