<header class="navbar navbar-default navbar-fixed-top">
  <div id="navbar-inner">
    <div class="container">
      <%= link_to "fake-reddit", root_path, :id => "logo" %>
      <nav>
        <ul class="nav pull-left">
           <li><%= link_to "Hot", root_path %></li>
           <li><%= link_to "New", help_path %></li>
       </ul>
       <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%=link_to current_user.username + "(0)(0)", current_user%></li>
            <li><%= link_to 'messages', messages_path%></li>
            <li><%= link_to 'preferences', edit_user_path(current_user)%></li>
            <li><%= link_to 'logout', signout_path, :method => "delete"%></li>
          <% else %>
    	      <span>want to join? <%= link_to "login", signin_path %> or 
              <%= link_to "register", signup_path%></span>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
