<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <%= link_to "fake-reddit", root_path, :id => "logo" %>
      </div>

      <nav class="nav navbar-nav navbar-left">
        <ul class="nav navbar-nav">
           <li><%= link_to "Hot", '#' %></li>
           <li><%= link_to "New", '#' %></li>
           <li><%= link_to "Subreddits", subreddits_path%></li>
      </nav>
      <nav class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%=link_to current_user.username + "(0)(0)", current_user%></li>
            <li><%= link_to '', messages_path, :class => "glyphicon glyphicon-envelope"%></li>
            <li><%= link_to '', edit_user_path(current_user), :class => "glyphicon glyphicon-cog"%></li>
            <li><%= link_to 'logout', signout_path, :method => "delete"%></li>
          <% else %>
    	      <span>want to join? <%= link_to "login", signin_path %> or 
              <%= link_to "register", signup_path%></span>
          <% end %>
        </ul>
      </nav>
  </div>
</header>
